torch==2.9.0
torchvision==0.24.0
transformers==4.26.1
open_clip_torch==3.2.0
numpy==2.2.6
scikit-learn==1.7.2
pandas==2.3.3
tqdm==4.67.1
wandb==0.22.3
requests==2.32.5
pydantic==2.12.4
pydantic_core==2.41.5
omegaconf==2.3.0
matplotlib==3.10.7
omegaconf==2.3.0
click==8.3.0
wandb==0.22.3
Flask==3.1.2
lmdb==1.7.5
openai==0.28.0